<div class="navBar">
  <div id="logo"></div>
  <div id="heading"><a routerLink="/">Angular Chat</a></div>
  <div class="links">
    <span>
      <a *ngIf="!(user|async)" routerLink="/login">Login</a>
    </span>
    <span>
      <a *ngIf="!(user|async)" routerLink="/signup">Sign Up</a>
    </span>
    <span>
      <span id="userEmail" *ngIf="(user|async)">Hello, {{userEmail}}</span>
    </span>
    <span>
      <a *ngIf="(user|async)" style="cursor: pointer;" (click)="logout()">Logout</a>
    </span>
  </div>
</div>